.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links button {
    border: 1px solid 
    color: white;/places/
    background: transparent;
}

.nav-links button:hover,
.nav-links button:active {
    background: #f8df00;
}